body {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(to bottom, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

.hide {
  display: none !important;
}

#bg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: hsla(0, 0%, 0%, .25);
}

.div-icon, .div-rules > button, #div-play-again > button, #btn-modal-close {
  cursor: pointer;
}

header {
  padding: 1.5rem;
}

.div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 5px;
}

#logo-header {
  display: block;
  width: 100px;
  height: auto;
  padding: 1rem;
}

.div-score {
  margin: .5rem;
  padding: .5rem 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2px;
  text-align: center;
}

.div-score > span {
  display: block;
}

.div-score > span:first-of-type {
  font-size: .65rem;
  font-weight: 800;
  color: hsl(229, 64%, 46%);
  text-transform: uppercase;
}
 
.div-score > span:last-of-type {
  font-size: 1.5rem;
  color: hsl(217, 16%, 45%);
}

main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1.5rem;
  margin: 4rem 0;
}

.div-your-score, .div-house-score {
  flex: 2 50%;
  text-align: center;
  margin: 2rem 0;
  position: relative;
}

.div-your-score > div, .div-house-score > div {
  margin: 1rem auto;
}

.div-your-score > div > span, .div-house-score > div > span {
  display: block;
}

.div-your-score.winner > div::after, .div-house-score.winner > div::after {
  content: '';
  width: 250px;
  height: 250px;
  background:  repeating-radial-gradient(#4848481a -4%, #61616133 15%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.div-house-score.cover > div {
  background: transparent !important;
  box-shadow: none !important;
}

.div-house-score.cover > div > span {
  background: hsl(229, 25%, 31%);
  box-shadow: none !important;
}

.div-your-score > h2, .div-house-score > h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: .15rem;
}

.div-game {
  flex: 1 100%;
  margin: 2rem 0;
}

.list-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url('../images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
}

.item-icon, .div-your-score > div, .div-house-score > div {
  width: fit-content;
  height: auto;
  border-radius: 50%;
}

.div-your-score > div, .div-house-score > div  {
  padding: 1rem;
}

.item-icon {
  z-index: 2;
}

.item-icon:first-of-type, .item-icon:nth-of-type(2n) {
  flex: 2 50%;
}

.item-icon:last-of-type {
  flex: 1 100%;
}

.item-icon > div {
  position: relative;
  margin: 0 auto;
}

.item-icon:last-of-type > div {
  margin-top: 4rem;
}

.item-icon > div::after {
  content: '';
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 50%;
  background: linear-gradient(to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: inset 0px -5px hsl(230deg 54% 44%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.item-icon:first-of-type > div::after, .div-your-score > div.paper, .div-house-score > div.paper {
  background: linear-gradient(to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: inset 0px -5px hsl(230deg 54% 44%);
}

.item-icon:nth-of-type(2n) > div::after, .div-your-score > div.scissors, .div-house-score > div.scissors {
  background: linear-gradient(to top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: inset 0px -5px hsl(39deg 100% 36%);
}

.item-icon:last-of-type > div::after, .div-your-score > div.rock, .div-house-score > div.rock {
  background: linear-gradient(to top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: inset 0px -5px hsl(349deg 66% 39%);
}

.div-icon, .div-your-score > div > span, .div-house-score > div > span {
  box-shadow: inset 0 4px hsl(230deg 89% 62% / 20%);
}

.div-icon, .div-your-score > div > span, .div-house-score > div > span {
  padding: 1rem;
  border-radius: 50%;
  width: fit-content;
  height: auto;
  background-color: white;
}

.icon-paper, .icon-scissor, .icon-rock {
  width: 49px;
  height: 59px;
}

#div-win, #div-lose, #div-draw, #div-play-again, .div-rules {
  flex: 1 100%;
  text-align: center;
  text-transform: uppercase;
}

#div-win, #div-lose, #div-draw, #div-play-again {
  margin: 1rem 0;
}

#div-win, #div-lose, #div-draw {
  font-size: 4rem;
}

#div-play-again > button {
  padding: .75rem 4rem;
  color: hsl(214, 47%, 23%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: .15rem;
}

.div-rules {
  margin-top: 8rem;
}

.div-rules > button {
  padding: .5rem 2rem;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: .15rem;
}

.rules-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
}

.rules-modal > h2 {
  font-size: 2rem;
  margin: 5rem 0;
  color: hsl(237, 49%, 15%);
  text-transform: uppercase;
}

#img-rules {
  display: block;
  width: 85%;
  height: auto;
  margin: 5rem auto;
}

#btn-modal-close {
  margin: 0 auto;
}

@media (min-width: 576px) {
  .list-icons {
    width: 80%;
    margin: 0 auto;
  }

  #img-rules {
    width: 60%;
  }
}

@media (min-width: 766px) {
  .list-icons {
    width: 60%;
  }

  #img-rules {
    width: 40%;
  }
}

@media (min-width: 922px) {
  header {
    padding: 1.5rem 9rem;
  }

  .div-header {
    border-radius: 10px;
  }

  #logo-header {
    width: 125px;
  }

  .div-score {
    padding: .75rem 1.5rem;
    border-radius: 10px;
  }

  main {
    margin: 4.5rem 0 1.5rem 0;
  }

  .div-your-score, .div-house-score {
    display: flex;
    flex-direction: column-reverse;
  }

  .div-your-score.winner > div::after, .div-house-score.winner > div::after {
    width: 475px;
    height: 475px;
  }

  .div-your-score > div, .div-house-score > div {
    margin: 1.5rem auto;
  }

  .div-icon, .div-your-score > div > span, .div-house-score > div > span {
    padding: 2rem;
  }

  .div-result {
    flex: 1 100%;
  }

  #div-win, #div-lose, #div-draw, #div-play-again {
    flex: none;
  }

  .div-rules {
    margin-top: 1rem;
  }

  .div-rules > button {
    display: block;
    margin-right: 0;
    margin-left: auto;
  }

  .rules-modal > h2, #img-modal {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 1200px) {
  header {
    padding: 1.5rem 15rem;
  }

  main {
    margin-top: 1.5rem;
    padding: 0 6rem;
  }

  .list-icons {
    width: 50%;
    background-position: top 85% left 50%;
  }

  .icon-scissors, .icon-paper, .icon-rock {
    width: 75px;
    height: auto;
  }

  .item-icon:last-of-type > div {
    margin-top: 2rem;
  }

  .div-your-score, .div-house-score, .div-result {
    flex: 3 33%;
  }

  .div-your-score {
    order: 1;
  }

  .div-house-score {
    order: 3;
  }

  .div-result {
    order: 2;
  }

  .div-rules {
    order: 4;
  }

  .rules-modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
    height: auto;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: start;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .rules-modal > h2, #btn-modal-close {
    flex: 2 50%;
  }

  .rules-modal > h2 {
    order: 1;
    margin: 0;
  }

  #img-rules {
    order: 3;
    margin: 2rem auto 0 auto;
    width: 90%;
  }

  #btn-modal-close {
    order: 2;
    text-align: end;
  }
}