body {
  min-height: 100vh;
  background: linear-gradient(to bottom, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

.hide {
  display: none !important;
}

.cover {
  opacity: 0;
}

header {
  padding: 1.5rem;
}

.div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 5px;
}

#logo-header {
  display: block;
  width: 100px;
  height: auto;
  padding: 1rem;
}

.div-score {
  margin: .5rem;
  padding: .5rem 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2px;
  text-align: center;
}

.div-score > span {
  display: block;
}

.div-score > span:first-of-type {
  font-size: .65rem;
  font-weight: 800;
  color: hsl(229, 64%, 46%);
  text-transform: uppercase;
}
 
.div-score > span:last-of-type {
  font-size: 1.5rem;
  color: hsl(217, 16%, 45%);
}

main {
  padding: 0 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.div-your-score, .div-house-score {
  flex: 2 50%;
  text-align: center;
}

.div-your-score > div, .div-house-score > div {
  margin: 1rem auto !important;
}

.div-your-score > div > span, .div-house-score > div > span {
  display: block;
}

.div-game {
  flex: 1 100%;
  margin: 2rem 0;
}

.list-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url('../images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: top 4rem left 3.5rem;
}

.item-icon, .div-your-score > div, .div-house-score > div {
  width: fit-content;
  height: auto;
  padding: 1rem;
  border-radius: 50%;
}

.item-icon:first-of-type, .div-your-score > div.paper, .div-house-score > div.paper {
  background: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  margin-left: 1rem;
}

.item-icon:nth-of-type(2n), .div-your-score > div.scissors, .div-house-score > div.scissors {
  background: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  margin-left: auto;
  margin-right: 1rem;
}

.item-icon:last-of-type, .div-your-score > div.rock, .div-house-score > div.rock {
  background: linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  margin: 0 auto;
}

.div-icon, .div-your-score > div > span, .div-house-score > div > span {
  padding: 1rem;
  border-radius: 50%;
  width: fit-content;
  height: auto;
  background-color: white;
  cursor: pointer;
}

.icon-paper, .icon-scissor, .icon-rock {
  width: 49px;
  height: 59px;
}

#div-win, #div-lose, #div-draw, #div-play-again, .div-rules {
  flex: 1 100%;
  text-align: center;
  text-transform: uppercase;
}

#div-win, #div-lose, #div-draw, #div-play-again {
  margin: 1rem 0;
}

#div-win, #div-lose, #div-draw {
  font-size: 4rem;
}

#div-play-again > button {
  padding: .75rem 4rem;
  color: hsl(214, 47%, 23%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: .15rem;
}

.div-rules {
  margin-top: 2rem;
}

.div-rules > button {
  padding: .5rem 2rem;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: .15rem;
}
